<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666971974381-rbbqiie4694vnq3qt0v3gb9utc0qqc8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666971974381-rbbqiie4694vnq3qt0v3gb9utc0qqc8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBcXm4SANZVvsImdhSev6sHOd_8kUkDvug</string>
	<key>GCM_SENDER_ID</key>
	<string>666971974381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>henrikferrari.com.ecomrejsegarda</string>
	<key>PROJECT_ID</key>
	<string>flutter-gardabooking</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-gardabooking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666971974381:ios:544393417a1a71a2c1fae4</string>
</dict>
</plist>